.adminDiv {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminDiv>h2 {
    font-weight: 600;
    color: #3d1152;
}

.inputDiv {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 30px;
    flex-wrap: wrap;
}

.inputDiv>div {
    width: 80%;
    display: flex;
    gap: 30px;
    align-items: baseline;
}

.inputDiv>div>div {
    position: relative;
}

.inputDiv>div>div>p {
    width: 100px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: #3d1152;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.inputDiv>div>div>ul {
    width: 200px;
    height: 106px;
    background-color: whitesmoke;
    border: 1px solid #3d1152;
    position: absolute;
    top: 80%;
    padding: 10px 0px;
    border-radius: 12px;
    display: none;
}

.inputDiv>div>div>ul>li {
    margin-top: 5px;
    width: 100%;
    background-color: white;
    padding-left: 10px;
    cursor: pointer;
}

.inputDiv>div>div>ul>li:first-child {
    margin-top: 0px;
}

.filterActive {
    background-color: gray !important;
}

.showFilter {
    display: block !important;
}

.inputDiv input {
    margin-top: 30px;
    width: 80%;
    border-radius: 12px;
    border: 1px solid #3d1152;
    font-family: 'Switzer';
    padding-left: 10px;
    height: 40px;
    color: gray;
    outline: none;
}

.inputDiv>p {
    width: 18%;
    border-radius: 12px;
    background-color: #3d1152;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.adminDiv>div {
    margin-top: 30px;
    width: 60%;
}

.adminInner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    border: 2px solid #3d1152;
    padding: 20px 20px 10px 20px;
    border-radius: 12px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.adminInner button {
    border-radius: 12px;
    background-color: #3d1152;
    color: white;
    height: 40px;
    width: 100px;
}

.adminInner select {
    border: 1px solid #3d1152;
    outline: none;
    height: 40px;
    padding: 0px 20px;
    border-radius: 12px;
}

.adminInner button:hover {
    background-color: white;
    color: #3d1152;
    border: #3d1152 1px solid;
    font-weight: 600;
}

.adminInner form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}

.adminInner form>p {
    border-radius: 12px;
    background-color: red;
    color: white;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.adminInner form>p:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
    font-weight: 600;
}

.adminInner>p {
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .adminDiv>div {
        width: 100%;
    }

    .adminInner {
        padding: 20px 15px;
        row-gap: 20px;
    }

    .adminInner form>button,
    .adminInner form>p {
        width: 80px;
    }

    .adminInner select {
        padding: 0px 10px;
    }

    .adminInner button {
        width: 120px;
    }

    .inputDiv input {
        width: 100%;
    }

    .inputDiv {
        column-gap: 10px;
        row-gap: 30px;
    }

    .inputDiv p {
        width: auto;
        padding: 0px 20px;
    }
}