.mainTable {
    width: 100%;
    padding-top: 20px;
    background-color: #3d1152;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh;
}

.mainTable>div>div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.firstTable {
    border-bottom: 1px solid white;
    font-weight: bold;
    color: white;
}

.secondTable {
    padding-top: 20px;
    text-transform: capitalize;
    color: white;
}

.secondTable img {
    width: 100px;
}

.mainTable>div>h3 {
    color: white;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
}

.mainTable>div>div>p {
    text-align: center;
    width: 20%;
}

.mainTable>div>p {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.doom {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.mainTable>div {
    position: fixed;
    z-index: 2;
    width: 100vw;
}