.selectMain {
    background-color: #3d1152;
    width: 100vw;
    min-height: 100vh;
    padding: 30px;
}

.firstDiv {
    display: flex;
    gap: 20px;
}

.firstDiv p {
    color: white;
    cursor: pointer;
}

.firstDiv>p>span {
    margin-left: 20px;
    cursor: pointer;
}

.innerMain {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 40px;
    margin-top: 3%;
}

.innerMain>div {
    width: 22%;
    height: 300px;
    background-color: black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 2px 2px 4px rgba(242, 239, 239, 0.958); */
    cursor: pointer;
}

.innerMain>div:hover {
    transform: translateY(-10px);
}

.innerMain>div>p {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Switzer';
    font-style: normal;
    text-transform: capitalize;
    color: white;
    text-align: center;
}

.innerMain>div>img {
    width: 70%;
    height: 220px;
}

@media screen and (max-width: 800px) {
    .innerMain>div {
        width: 100%;
    }

    .innerMain>div>p {
        font-size: 20px;
    }
}