.loginMainDiv {
    background-color: #3d1152;
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;
}

.loginDiv {
    width: 40%;
    height: 95vh;
    background-color: white;
    margin: 0 auto;
    padding: 20px 20px 10px 20px;
    border-radius: 8px;
}

.loginDiv>h1 {
    font-size: 30px;
    font-size: 600;
    text-align: center;
    font-family: 'Switzer';
    font-style: normal;
    color: #374151;
}

.loginDiv>form {
    margin-top: 25px;
}

.loginDiv>form>div {
    width: 100%;
    margin-top: 15px;
}

.loginDiv>form>label {
    font-family: 'Switzer';
    font-style: normal;
}

.loginDiv h6 {
    color: red;
    text-align: center;
}

.loginDiv input {
    width: 100%;
    height: 50px;
    background: #F3F4F6;
    padding: 20px;
    font-family: 'Switzer';
    font-style: normal;
    border: none;
    outline: none;
    margin-top: 5px;
}

.loginDiv input:focus {
    background-color: white;
    border: 1px solid #3d1152;
}

.loginDiv button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #3d1152;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Switzer';
    font-style: normal;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.loginDiv p {
    text-align: center;
    margin-top: 10px;
    font-family: 'Switzer';
    font-style: normal;
    color: #6B7280;
}

.loginDiv p>span,
.forgotPass {
    color: #2E7DD7;
    cursor: pointer;
}

.lockImage {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.loginDiv .tribeMain {
    border: 1px solid #3d1152;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Switzer';
    font-style: normal;
}

.tribeList {
    width: 100%;
    box-shadow: 0 0 4px 4px rgba(17, 17, 17, 0.11);
    height: 200px;
    overflow-y: scroll;
    scrollbar-width: none;
    font-family: 'Switzer';
    font-style: normal;
    padding-left: 0px;
    position: absolute;
    background: #F3F4F6;
    display: none;
    top: 100px;
    z-index: 1;
}

.tribeList::-webkit-scrollbar {
    display: none;
}

.tribeList>li {
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    padding: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tribeList>li>img {
    width: 60px;
}

.tribeList>li:hover {
    background-color: #3d1152;
    color: white;
}

.tribeDiv {
    position: relative;
}

@media screen and (max-width: 800px) {
    .loginDiv {
        width: 95%;
    }
}

.show {
    display: block;
}