#churchMain,
#countryMain {
    font-size: 18px;
}

.countryMainImg,
#country img {
    width: 30px;
}

#country input {
    background-color: white;
    border: 1px solid purple;
}

#country input::placeholder {
    color: black;
}